*{
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content:"";
    display:table;
    clear: both;
}

header .container{
    background-color: pink;
    height: 90px;
}

.container {
    width: 80%;
    margin:0 auto;
   /*  border: 1px solid; */
}

.hero-section{
    background-color: yellow;
    height: 350px;
    margin: 20px auto;
}

.main-container{ 
    background-color: blue;
    /* height: 500px; per gestire meglio il contenuto non dobbiamo dare un'altezza*/ 
    padding-bottom: 20px;
}

.lightblue {
    background-color: lightblue;
}

.main-container-header{
    height: 80px;
    width: 100%;
    margin-bottom: 15px;
}

.float-left{
    float: left;
}

.col{
    width: 20%;
    height: 300px;
}

.col-center{
    width: calc(100% - 40% - 20px);
    margin:0 10px;
    
}

footer .container{
    background-color: purple;
    height: 120px;
    margin-top: 20px;
}